{% extends 'main.html' %}

{% block content %}
    <h1>Author List</h1>
    {% for author in authors %}
    <div class="author-container">
        <div class="author-info" >
            <h2>{{ author.name }}</h2>
            <p><strong>Birth Date:</strong> {{ author.birth_date }}</p>
            <p><strong>Birth Place:</strong> {{ author.birth_place }}</p>
            <p><strong>Death Date:</strong> {{ author.death_date }}</p>
            <p><strong>Death Place:</strong> {{ author.death_place }}</p>
            <p><strong>Created At:</strong> {{ author.created_at }}</p>
            <p><strong>Updated At:</strong> {{ author.updated_at }}</p>
        </div>
        <div>
            <img src="{{ author.portrait.url }}" alt="{{ author.name }} Photo" class="author-image">
        </div>
    </div>
    <hr>
    {% empty %}
    <p>No authors available</p>
    {% endfor %}
{% endblock %}