{% extends 'main.html' %}
{% load static %}

{% block content %}
    <!-- Your CSS styles here -->
<head>
    <link href="{% static 'market/grid.css' %}" rel="stylesheet">
</head>

    <section id="featured-authors" class="grid-container">
        <!-- Display the famous authors -->
        {% for author in authors %}
        <a href="{% url 'author_detail' author_id=author.id %}">
            <div class="grid-item" style="background-image: url('{{ author.portrait.url }}')">
                <div class="details">
                    <h3>{{ author.name }}</h3>
                    <p>Birth Date: {{ author.birth_date }}</p>
                    <p>Birth Place: {{ author.birth_place }}</p>
                    <!-- Add more author details here if needed -->
                </div>
            </div>
        </a>
        {% endfor %}
    </section>

{% endblock %}