{% extends 'main.html' %}
{% load static %}

{% block content %}
    <!-- Your CSS styles here -->
<head>
    <link href="{% static 'market/grid.css' %}" rel="stylesheet">
    <link href="{% static 'market/paginator.css' %}" rel="stylesheet">
</head>
    <section id="featured-books" class="grid-container">
        <!-- Display the famous books -->
        {% for book in books %}
        <a href="{% url 'book_detail' book_id=book.id %}">
            <div class="grid-item" style="background-image: url('{{ book.cover.url }}')">
                <div class="details">
                    <h3>{{ book.title }}</h3>
                    <p>Author: {{ book.author.name }}</p>
                    <p>Price: {{ book.price }}</p>
                    <!-- Add more book details here if needed -->
                </div>
            </div>
        </a>
        {% endfor %}
    </section>


    <div class="pagination">
        <span class="step-links">
            {% if books.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ books.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ books.number }} of {{ books.paginator.num_pages }}.
            </span>

            {% if books.has_next %}
                <a href="?page={{ books.next_page_number }}">next</a>
                <a href="?page={{ books.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}



