{% load static %}

{% block content %}

  <link href="{% static 'market/filter_style.css' %}" rel="stylesheet"> <!-- Link to the CSS file -->

<div class="filter-container">
    <form method="get" action="{% url 'all_books' %}">
        <label for="cover_type">Cover Type:</label>
        <select name="cover_type" id="cover_type">
            <option value="">All</option>
                    <option value="hard">Hardcover</option>
                    <option value="soft">Softcover</option>
                    <option value="paperback">Paperback</option>
                    <option value="spiral">Spiral-bound</option>
                    <option value="board">Board book</option>
                    <option value="cloth">Clothbound</option>
                    <option value="leather">Leather-bound</option>
                    <option value="other">Other</option>
            <!-- Add more options if needed -->
        </select>

        <label for="author_name">Author Name:</label>
        <input type="text" name="author_name" id="author_name">

        <label for="max_price">Max Price:</label>
        <input type="number" name="max_price" id="max_price">

        <button type="submit">Apply Filters</button>
    </form>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
    // Select the cover type dropdown
    var coverTypeInput = document.getElementById("cover_type");

    // Add event listener to cover type dropdown
    coverTypeInput.addEventListener("keypress", function(event) {
        // Check if the key pressed is Enter
        if (event.key === "Enter") {
            // Submit the form
            this.form.submit();
        }
    });
});
</script>


{% endblock %}