{% load static %}

{% block content %}

  <link href="{% static 'market/filter_style.css' %}" rel="stylesheet"> <!-- Link to the CSS file -->

<div class="filter-container">
    <form method="get" action="{% url 'all_books' %}">

        <label for="category">Category:</label>
        <div class="button-row">
        {% for category in categories %}
            {% if forloop.counter|divisibleby:5 and not forloop.first %}
                </div><div class="button-row">
            {% endif %}
            <button type="submit" name="category" value="{{ category.id }}">{{ category.name }}</button>
        {% endfor %}
        </div>


        <label for="author_name">Author Name:</label>
        <input type="text" name="author_name" id="author_name">

        <label for="max_price">Max Price:</label>
        <input type="number" name="max_price" id="max_price">

        <button type="submit">Apply Filters</button>
    </form>

</div>
{% endblock %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
    // Select the cover type dropdown
    var coverTypeInput = document.getElementById("cover_type");
    var categoryInput = document.getElementById("category");

    categoryInput.addEventListener("keypress", function(event) {
        // Check if the key pressed is Enter
        if (event.key === "Enter") {
            // Submit the form
            this.form.submit();
        }
    });

    // Add event listener to cover type dropdown
    coverTypeInput.addEventListener("keypress", function(event) {
        // Check if the key pressed is Enter
        if (event.key === "Enter") {
            // Submit the form
            this.form.submit();
        }
    });
});
</script>


