{% extends 'main.html' %}
{% load static %}

{% block content %}

<head>
        <link href="{% static 'market/grid.css' %}" rel="stylesheet">
</head>


<h2> POPULAR BOOKS </h2>
 <section id="featured-books" class="grid-container">
            <!-- Display the famous books -->
            {% for book in books %}
     <a href="{% url 'book_detail' book_id=book.id %}">
            <div class="grid-item" style="background-image: url('{{ book.cover.url }}')">
                <div class="details">
                    <h3>{{ book.title }}</h3>
                    <p>Author: {{ book.author.name }}</p>
                    <p>Year: {{ book.year }}</p>
                    <p>Price: {{ book.price }}</p>
                    <p>Book Cover: {{ book.cover_type }}</p>
                    <!-- Add more book details here if needed -->
                </div>
            </div>
            </a>
            {% endfor %}
        </section>
<h2> POPULAR AUTHORS </h2>
        <section id="featured-authors" class="grid-container">
            <!-- Display the famous authors -->
            {% for author in authors %}
            <a href="{% url 'author_detail' author_id=author.id %}">
            <div class="grid-item" style="background-image: url('{{ author.portrait.url }}')">
                <div class="details">
                    <h3>{{ author.name }}</h3>
                    <p>Birth Date: {{ author.birth_date }}</p>
                    <p>Birth Place: {{ author.birth_place }}</p>
                    <!-- Add more author details here if needed -->
                </div>
            </div>
            </a>
            {% endfor %}
        </section>

{% endblock %}
